@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --border-color: #324a6b;
}

.material-symbols-rounded{
  vertical-align: middle;
  font-size: 20px;
}

img{
  max-width: 100%;
}

.title{
  font-size: 2rem;
  font-weight: 600;
}

.fw-700{font-weight: 700;}
.fw-600{font-weight: 600;}
.fw-500{font-weight: 500;}
.fw-400{font-weight: 400;}
.fw-300{font-weight: 300;}
.fw-200{font-weight: 200;}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: #f5feff;
}

.logo{
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #3cc7a2;
}

.home-container{
  /* height: 60vh; */
  padding: 4rem 0;
  text-align: center;
  color: #fff;
  background: linear-gradient(0deg, #4d001975, #47044775), url(img/cars/homecar.jpg) no-repeat center/cover;
}

.home-container h1{
  font-size: 3rem;
  font-weight: 700;
}

.filterSearch{
  background-color: #fff;
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
}

.filterSearch select, .filterSearch button{
  width: 100%;
  border: 0;
  font-size: 14px;
}

.carcard img{
  height: 200px;
  object-fit: contain;
  object-position: center;
}


.carcard {
  text-align: center;
  background: #fff;
  border: 2px solid #d8d8d8;
  border-radius: 15px;
  padding: 1rem;
  transition: all ease 0.2s;
  text-transform: capitalize;
}

.carcard:hover {
  border-color: var(--border-color);
}
.carcaption h5{
  font-weight: 600;
}
.carcard .badge{
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  background-color: #eee !important;
}

.viewmore-btn{
  width: 100%;
  padding: 10px;
}